//{{ define "base" }}
<html>
  <head>
    {{ template "title" . }}
    {{ template "scripts" . }}
    {{ template "css" . }}
  </head>
  <body>
    {{ template "body" . }}
  </body>
</html>
//{{ end }}

// Define empty blocks for optional content
{{ define "scripts" }}{{ end }}
{{ define "css" }}{{ end }}
